/* Redondear más el modal */
.modal-content {
    border-radius: 1.5rem !important;
}

#dt-search-0 {
    font-size: 16px;
    width: 175px;
    border-radius: 5px;
}

/* Ajuste general para móviles */
@media (max-width: 992px) {
    .modal-dialog {
        max-width: 95%;
        margin: 1rem auto;
    }

    .modal-body {
        padding: 1rem;
    }
}
